<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bcdns.credential.mapper.ApiKeyMapper">

    <sql id="apiKeyItem">
        id,api_key apiKey,api_secret apiSecret,issuer_private_key issuerPrivateKey,issuer_id issuerId,init_tag initTag
    </sql>

    <insert id="insert" parameterType="org.bcdns.credential.model.ApiKeyDomain">
        insert into
            api_key_record(id,api_key,api_secret,issuer_private_key,issuer_id,init_tag)
        values
            (null,#{apiKey},#{apiSecret},#{issuerPrivateKey},#{issuerId},#{initTag})
    </insert>

    <select id="getApiKeyByManagerId" parameterType="string" resultType="org.bcdns.credential.model.ApiKeyDomain">
        select
        <include refid="apiKeyItem" />
        from
        api_key_record
        where
        issuer_id=#{issuerId}
    </select>

    <select id="getApiKeyDomain" parameterType="Integer" resultType="org.bcdns.credential.model.ApiKeyDomain">
        select
        <include refid="apiKeyItem" />
        from
        api_key_record
        where
        id=#{id}
    </select>
</mapper>
