<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bcdns.credential.mapper.VcAuditMapper">

    <sql id="vcAuditItem">
        id,apply_no applyNo,vc_id vcId,status,audit_id auditId,vc_owner_id vcOwnerId,reason,create_time createTime,update_time updateTime
    </sql>

    <insert id="insert" parameterType="org.bcdns.credential.model.VcAuditDomain">
        insert into
            vc_audit(id,apply_no,vc_id,status,audit_id,vc_owner_id,reason,create_time,update_time)
        values
            (null,#{applyNo},#{vcId},#{status},#{auditId},#{vcOwnerId},#{reason},#{createTime},0)
    </insert>

    <select id="getAuditDomain" parameterType="string" resultType="org.bcdns.credential.model.VcAuditDomain">
        select
        <include refid="vcAuditItem" />
        from
        vc_audit
        where
        apply_no=#{applyNo}
    </select>

    <select id="getVcIdByVcOwner" resultType="org.bcdns.credential.model.VcAuditDomain">
        select
        <include refid="vcAuditItem" />
        from
        vc_audit
        where
        vc_owner_id=#{vcOwnerId}
    </select>
</mapper>
