<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bcdns.credential.mapper.VcRootMapper">

    <sql id="vcRootItem">
        id,vc_root vcRoot
    </sql>

    <insert id="insert" parameterType="org.bcdns.credential.model.VcRootDomain">
        insert into
            vc_root(id,vc_root)
        values
            (null,#{vcRoot})
    </insert>

    <select id="getVcRoot" resultType="org.bcdns.credential.model.VcRootDomain">
        select
        <include refid="vcRootItem" />
        from
        vc_root
        where
        id = 1
    </select>
</mapper>